.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

vendor/
composer.lock
.env
supervisord.pid
.vscode/launch.json
environment/nginx/log/*
environment/php/log/*

.phpunit.cache
.phpunit.cache/test-results
target/unit/report.xml
